  .login form{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
  }
  
  .login form input{
    width: 20%;
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219,219,219);
    border-radius: 10px;
  }

  .login form input[type="submit"]{
    color: rgb(232,232,235);
    text-transform: uppercase;
    font-size: 20px;
    background-color: rgb(210,0,90);
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    margin: 4px;
  }
  
  .login form input[type="submit"]:hover {
    background-color: rgb(190,0,90);
  }

  .login .error{
    color: red;
  }